* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}

.header {
    background: #313133;
    padding: 25px 25px 25px 25px;
    display: flow-root;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 28px;
}

#react {
    margin-top: 30px;
}

#state-label {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#state {
    margin-left: 15px;
}

#selection {
    margin-top: 4px;
}

div.content-container {
    max-width: 100%;
    margin: 0px;
    background-color: #E1DEF1;
}

div.state-div {
    display: inline-flex;
    padding: 4px 12px;
    margin: 8px 5px;
    font-weight: 600;
    font-size: 28px;
    border-bottom: 5px solid black;
} 

.state-name {
    margin-left: 5px;
    text-transform: capitalize;
    color: #313133;
}

.active {
    width: 98%;
    margin: 5px 5px;
}

.active-bg {
    background-color: #C981EB;
    color: white;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
}


/* for desktop view */
@media screen and (min-width: 768px) {
    .select-state {
        float: right;
    }

    div.content-container {
        max-width: 95%;
        margin: 36px auto 36px auto;
        background-color: #E1DEF1;
    }

    div.state-div {
        display: inline-flex;
        padding: 4px 12px;
        margin: 8px 18px;
        font-weight: 600;
        font-size: 28px;
        border-bottom: 5px solid black;
    } 

    .inline {
        display: inline-block;
    }

    #react {
        margin-top: 0px;
    }

    .active {
        width: 98%;
        margin: 5px 18px;
    }

    .card-title {
        font-size: 28px;
        font-weight: 600;
    }

    .card-padding {
        padding: 20px 20px 20px 20px;
    }
}