* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}

select.name {
    font-size: 20px;
}

select {
    font-size: 18px;
}

img {
    width: 80px;
    height: 45px;
}

canvas {
    width: 400;
    height: 400;
    display: block;
}

.header {
    background: #313133;
    padding: 25px 25px 25px 25px;
    display: flow-root;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 28px;
}

#react {
    margin-top: 30px;
}

#state-label {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

#state {
    margin-left: 15px;
}

#selection {
    margin-top: 4px;
}

div.content-container {
    max-width: 100%;
    margin: 0px;
    background-color: #E1DEF1;
}

div.vertical-spacing {
    margin-top: 25px;
    margin-bottom: 25px;
}

div.state-div {
    display: inline-flex;
    padding: 4px 12px;
    margin: 8px 5px;
    font-weight: 600;
    font-size: 28px;
    border-bottom: 5px solid black;
} 

.state-name {
    margin-left: 5px;
    text-transform: capitalize;
    color: #313133;
}

.card-layout {
    width: 98%;
    margin: 10px 5px;
}

.active-bg {
    background-color: #C981EB;
}

.confirmed-bg {
    background-color: #195EFF;
}

.confirmed-color {
    color: #195EFF;
}

.recovery-bg {
    background-color: green;
}

.recovery-color {
    color: green;
}

.death-bg {
    background-color: red;
}

.death-color {
    color: red;
}

.card-title {
    font-size: 20px;
    font-weight: 500;
    color: white
}

.label-total-cases {
    font-size: 20px;
    font-weight: 300;
    margin-top: 18px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

.stats-total-cases {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.ui-datepicker {
    background: #333;
    color: #eee;
}

.dateinput {
    font-size: 18px;
}

.time-range-label {
    font-size: 18px;
    font-weight: 300;
}

.time-range {
    margin-left: 10px;
}


/* for desktop view */
@media screen and (min-width: 768px) {
    .select-state {
        float: right;
    }

    div.content-container {
        max-width: 95%;
        margin: 36px auto 36px auto;
        background-color: #E1DEF1;
    }

    div.state-div {
        display: inline-flex;
        padding: 4px 12px;
        margin: 8px 18px;
        font-weight: 600;
        font-size: 28px;
        border-bottom: 5px solid black;
    } 

    .inline {
        display: inline-block;
    }

    #react {
        margin-top: 0px;
    }

    .card-layout {
        width: 98%;
        margin: 5px 18px;
    }

    div.vertical-spacing {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .card-title {
        font-size: 28px;
        font-weight: 600;
        color: white;
    }

    .card-header-padding {
        padding: 20px 20px 20px 20px;
    }

    .label-total-cases {
        font-size: 25px;
        font-weight: 300;
        margin-top: 18px;
        text-align: center;
        text-decoration: underline;
        text-transform: capitalize;
    }
    
    .stats-total-cases {
        font-size: 5em;
        font-weight: 800;
        text-align: center;
    }

    #confirmed-time-range-label {
        font-size: 18px;
        font-weight: 300;
    }
    
    #confirmed-time-range {
        margin-left: 10px;
    }
    
}